@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.gallery {
  padding: 1rem;
  max-width: 75rem; 
  margin: 0 auto;

  @include tablet {
    padding: 1.5rem;
  }
  
  @include desktop {
    padding: 2rem 2.5rem;
  }


  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    grid-auto-rows: .5rem;
    grid-gap: 0.5rem;
    max-width: 70rem; 
    margin: 0 auto; 

    @include tablet {
      grid-gap: 1rem;
    }

    @include desktop {
      grid-gap: 1.25rem;
    }
  }

  .gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  
    img {
      width: 100%;
      height: auto;
      display: block;
      transition: transform 0.2s ease-in-out;
    }
  }
  
  // Modal style
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  
    .modal-content {
      max-width: 90%;
      max-height: 90%;
      transition: opacity 0.5s ease; 
      opacity: 1;
    }
  
    .fade {
      animation: fadeIn 0.5s ease-in-out;
    }
  
    .close {
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 40px;
      color: $primary-white;
      cursor: pointer;
    }
  
    .prev, 
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 1rem;
      margin-top: -1.375rem;
      color: $primary-white;
      font-weight: bold;
      font-size: 1.25rem;
      border-radius: 0 .1875rem .1875rem 0;
      user-select: none;
      background-color: rgba(0, 0, 0, 0.6);
      transition: 0.6s ease;
    }
  
    .prev {
      left: 0;
      border-radius: .1875rem 0 0 .1875rem;
    }
  
    .next {
      right: 0;
      border-radius: 0 .1875rem .1875rem 0;
    }
  
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}