@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;



.service-container {
  display: flex;
  flex-direction: column;  
  gap: 2rem;  
  padding: 2rem;
  max-width: 75rem; 
  margin: 0 auto;  // center
  background-color: $primary-bg; 

  @include tablet {
    flex-direction: row;  
    flex-wrap: wrap;  
    justify-content: space-between; 
    gap: 2rem;
    padding: 4rem;
  }

  @include desktop {
    padding: 8rem;
    gap: 2.5rem;
  }
}

.service-card {
  position: relative;  
  width: 100%;  
  margin: 0 auto;
  overflow: hidden;
  aspect-ratio: 1 / 1;  

  @include tablet {
    width: calc(50% - 32px);  // tablet & desktop each card width 50%
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;  // ensure on the image
  }

  &__text {
    color: $primary-white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 2;  // ensure on the overlay

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 2rem;
    }
  }
}


