@use "./mixins" as *;
@use "./typography" as *;
@use "./variables" as *;


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $family;
    font-weight: $regular;
    color: $primary-text;
}
