@use './variables' as *;
@use './mixins' as *;

//font source
@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//type base
$family: 'Lato', sans-serif;
$regular: 400;
$bold: 700;
