

//breakpoint
$tablet-bp: 768px;
$desktop-bp: 1280px;


//primary colors
$primary-dark: #012b55;  
$primary-light: #667085;  
$primary-white: #ffffff;   
$primary-bg:#f5f5f5;
$primary-text:#181818;
$primary-gray:#cccccc;


$secondary-color: #cbaf7f;
$secondary-hover: #806e4f;
$secondart-text:#6a6a6a;


//page margin
$margin-mobile: 1rem;
$margin-tablet: 2rem;
$margin-desktop: 7.5rem;


// #007bff #0056b3 #28a745 #218838