

//breakpoint
$tablet-bp: 768px;
$desktop-bp: 1280px;


//primary colors
$primary-dark: #012b55;  
$primary-light: #546e87;  
$primary-white: #ffffff;   


//page margin
$margin-mobile: 1rem;
$margin-tablet: 2rem;
$margin-desktop: 7.5rem;