@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.booking-section {
    text-align: center;
    background-color: $primary-bg;
    margin: 2rem 0;
    padding: 2rem;

    @include tablet {
      margin: 3rem 0;
      padding: 4rem;
    }

    @include desktop {
      margin: 5rem 0;
      padding: 6rem 10rem;
    }

    &__text {
      font-size: 1rem;
      line-height: 1.375rem;
      margin-bottom: 1.5rem;
      color: $primary-text;

      @include tablet {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin-bottom: 1.75rem;
      }

      @include desktop {
        line-height: 1.75rem;
        margin-bottom: 2rem;
      }
    }

    &__btn {
      padding: 0.75rem 1.5rem;
      background-color: $secondary-color;
      color: $primary-white;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      
      @include tablet {
        padding: 1rem 2rem;
        font-size: 1.1rem;
      }

      &:hover {
        background-color: $secondary-hover;
      }
    }

    .calendar-popup {
      margin-top: 2rem;
      padding: 1.5rem;
      border: 1px solid $primary-gray;
      background-color: $primary-white;
      max-width: 37.5rem;
      margin-left: auto;
      margin-right: auto;

      input[type="date"],
      input[type="time"] {
        display: inline-block;
        width: 87%;
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid $primary-gray;

        @include desktop {
          width: 94%;
        }
      }

      .confirm-button {
        padding: 0.75rem 1.5rem;
        background-color: $secondary-color;
        color: $primary-white;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $secondary-hover;
        }
      }
    }
}
