@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.pricing-card-list {
    display: flex;
    flex-wrap: wrap;  // 让卡片能够换行排列
    justify-content: center;  // 卡片居中对齐
    gap: 20px;
    padding: 20px;
    flex-direction: column; // 默认是竖向排列 (mobile first)
    align-items: center;  // 卡片居中对齐

    @include tablet {
      flex-direction: column; // 在 tablet 上保持竖向排列
      align-items: center; // 竖向排列时，卡片居中
    }
  
    @include desktop {
      flex-direction: row;  // 在 desktop 上改为横向排列
      justify-content: center;  // 卡片居中对齐
    }
  }
  