@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.pricing-card-list {
    display: flex;
    flex-direction: column; 
    margin-bottom: 1.5rem;

    @include tablet {
      margin-bottom: 2.5rem;
    }
  
    @include desktop {
      flex-direction: row;  
      margin: 5rem;
    }
  }