@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;



.video-background {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden;

    @include tablet {
      height: 400px;
    }

    @include desktop {
      height: 650px;
    }
  
    .background-video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover; 
      transform: translate(-50%, -50%); 
    }
  }
  
