@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    &__text {
        font-size: .75rem;

        @include tablet {
            font-size: 1rem;
        }
    }
}