@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;



.pricing-card {
      flex: 1 1 calc(100% - 40px);  
      max-width: 100%;
      background-color: $primary-text;
      margin: 1.5rem 1.5rem 0;
      padding: 3rem;
      text-align: center;
      display: flex;
      @include flex-center;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      @include tablet {
        margin: 2.5rem 2.5rem 0;
      }

      @include desktop {
        margin: 1.5rem 1.5rem 0;
      }
    }

  
    .pricing-card__logo {
      width: 9rem;
      margin-bottom: 9rem;

      @include tablet {
        width: 11rem;
      }
    }
  
    .pricing-card__location,
    .pricing-card__description,
    .pricing-card__price {
      color: $primary-white;
      margin-bottom: .75rem;
    }
  
    .pricing-card__location {
      font-size: 1.25rem;
      font-weight: $medium;
    }
  
    .pricing-card__description {
      font-size: .875rem;
      font-weight: $regular;
      color: $primary-gray;

    }
  
    .pricing-card__price {
      font-size: 1.5rem;
      font-weight: bold;
      font-style: italic;
      margin-top: 2rem;
    }
  